*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}
.sideNav{
    width: 35%;
    height: 100vh;
    border:1px solid black;
}
.introHead{
    margin: 15px;
    margin-top: 30px;
}
.introHead h1{
    font-weight: 500;
    font-size: 24px;
}
.introHead h2{
    font-weight: 500;
    font-size: 14px;
}
.subGroups{
    margin-top: 10px;
}
.introHead h3{
    line-height: 20px;
    color: rgba(175, 47, 47,1);
    font-weight: 500;
    font-size: 14px;
}
.introHead h3:hover{
    color: #787e7e;
    cursor: pointer;
    text-decoration: underline;
}