.lst{
    width: 50%;
    margin: 10px;
    display: flex;
    height: 50px;
    margin: auto;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid black;
    justify-content: space-evenly;
    background-color: lightblue;
}
.lst h2{
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    .lst{
        width: 90%;
    }
}
    
