body{
    background-color: grey;
}
.RegisterMain{
    width: 100%;
    height: 100vh;
    background-image: url('../images/back.jpg');
    position: absolute;
    top: 0;
    left: 0;
}

.Logo{
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    max-width: 200px;
    width: 30%;
}
.Logo button{
    border-radius: 20px;
    max-width: 200px;
    width: 30%;
    background-color: #E50914;
    height: 6vh;
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    border: none;
}
.body-card{
    height:80vh;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
}
.text{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px ;
}
.text h1{
    font-size: 6vh;
    font-weight: bold;
}
.text h2{
    font-size: 4vh;
    font-weight: bold;
}
.text h3{
    font-size: 3.5vh;
    font-weight: bold;
}
.getInfo{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.getInfo input{
    height: 6vh;
    width: 60%;
    padding-left: 30px;
    font-size: 20px;
}
.getInfo input::placeholder{
    padding: 30px;
}
.getInfo button{
    background-color: #E50914;
    width: 40%;
    border: none;
}
.sections{
    background-color: black;
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.sections h1{
    color: white;
    font-size: 6vh;
    font-weight: bold;
}
.sections h3{
    color: white;
    font-size: 4vh;
    text-align: center;
    font-weight: bold;
}
.sections img{
    width: 40%;
    display: border-box; 
}
@media screen and (max-width: 800px){
    .Logo{
        margin: 0;
        padding: 10px;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 1);
    }
    .Logo img{
        width: 50%;
        /* margin:auto; */
    }
    .Login{
        background-color: rgba(0, 0, 0, 1);
        height: 85vh;
        overflow-y: auto;
        width: 100%;
    }
    .getInfo{
        width: 100%;
    }
    .sections h1{
        font-size: 3vh;
    }
    .sections h3{
        font-size: 2vh;
    }
    .sections img{
        width: 70%;
    }
}  