@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
*{
    font-family: 'Inter', sans-serif;
    font-size:15px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background-color: hsl(233, 47%, 7%);
    color: aliceblue;
}
.container{
    background-color:  hsl(244, 38%, 16%);
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns:60% 40%;
    border-radius: 20px;
    /* padding-bottom: 20px; */
}

.right{
    background-color:  hsl(277, 64%, 61%);
    border-radius: 0px 15px 15px 0px;
}

.right img{
    background-repeat: no-repeat;
    width: 100%;
    height:100%;
    opacity: 0.4;
    margin: 0;
    margin-bottom: 0%;
    padding: 0;
    border-radius: 0px 15px 15px 0px;
}
.left{
    width: 40%;
    display:flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 25px;
    flex-direction: column;
    justify-content: space-evenly;
}
.left p{
    font-weight: 400;
    color:hsla(0, 0%, 100%, 0.75);
}
.left h1{
    font-weight: 700;
    font-size: 35px;
}
.left h1 span{
    font-weight: 700;
    font-size: 35px;
    color: hsl(277, 64%, 61%);
}
.stats{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ele h2{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
    color: white;
}
.ele{
    font-weight: 400;
    text-transform: capitalize;
    color: hsla(0, 0%, 100%, 0.6);
}
@media (max-width:714px) {
    .container{
        grid-template-columns: 1fr;
    }
}