*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

header{
    background-color: #35424a;
    color: aliceblue;
    padding-top: 30px;
    min-height: 70px;
}

header li{
    display: inline;
    padding: 0 20px 0 20px;
}

.container{
    width: 85%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
}
.branding{
    float: left;
}
#head ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header nav{
    float: right;
    /* margin-top: px; */
}
.branding span{
    color: #ffc600;
    font-weight: bold;
}
header a:hover{
    color: grey;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
#showcase{
    min-height: 500px;
    background: url('../images/showcase.jpg');
    opacity: 0.4;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    background-size:cover;
}
#showcase h1{
    margin: 200px;
    line-height: 1.5em;
    font-size: 50px;
}
#showcase p{
    margin-top: 10px;
    font-size: 20;
    color: white;
    font-weight: bold;
}
#boxes{
    margin-top: 20px;
}
#boxes .container{
    display: flex;
    flex-wrap: wrap;
}
#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
.box img{
    width: 90px;
}
footer{
    margin-top: 20px;
    min-height: 80px;
    text-align: center;
    background-color: #ffc600;
    padding-top: 20px;
    border-top: 3px solid black;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

#side-bar{
    float: right;
    width: 20%;
}
#main-col{
    float: left;
    width: 65%;
    margin-top: 10px;
}
.dark{
    width: 25%;
    justify-content: center;
    text-align:initial;
    float: right;
    padding: 15px;
    background-color: #35424a;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 15px 15px 34px -11px rgba(0,0,0,0.75);
}
.page-title{
    font-size: 40px;
}
ul#services{
    padding: 0 30px 0 0;
    list-style: none;
}
ul#services li{
    margin-top: 30px;
    border: 1px solid grey;
}
ul#services li{
    box-shadow: 15px 15px 34px -11px rgba(0,0,0,0.75);
    background-color: greenyellow;
    border-radius: 10px;
    padding: 20px;
}

aside#sidebar .quote input{
    width: 50%;
    height: 25px;
    margin-top: 10px;
    padding: 5px;
}