body{
    background-color: blueviolet;
}
.container{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 20px;
}
.box{
    background-color: rgb(247, 0, 255);
    text-align: center;
    font-size: 35px;
    display: flex;
    justify-content: center;
}
.box:nth-child(6n){
    grid-column: span 6;
    background-color: rgb(141, 141, 255);
}
.box:nth-child(17n){
    grid-column: span 4;
    background-color: aqua;
}
.box:nth-child(13n){
    grid-row: span 2;
    grid-column: span 2;
    background-color:tomato;
}