*{
    /* margin: 15px; */
}
.container{
    display: flex;
    /* flex-direction: column-reverse; */
    border: 2px solid black;
    height: 750px;
    flex-wrap: wrap;
    min-width: 330px;
    justify-content: center;
    align-items: center;
}
.box{
    height: 250px;
    width: 250px;
}
.b1{
    background-color: blue;
    align-self: flex-start;
}
.b2{
    background-color: brown;
}
.b3{
    align-self: flex-end;
    background-color: violet;
}